<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Socket IO Chat with Node!</title>
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito+Sans:wght@300;400&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<main id="app">
		<section class="form-container">
			<p class="userAlert"></p>
			<p class="userAlert2"></p>
			<div class="nickCon">
				<label for="nickName">What Do You Go By?</label>
				<input  v-model='nickname' type="text" id="nickname" class="nickname">
				<div @click="hide"><p>Head In</p></div>
			</div>

			<form class="inputForm">
				<p v-if="typing" class="typing">{{typing}} is typing...</p>
				<textarea v-model="message" class="message mainText" type="text" autocomplete="off" id="textarea"></textarea>
				<h2>(If you would like to put an emoji after your text, please put a space after the emoji, thank you)</h2>
				<div class="emojiCon">
				<p class="emoji">😀</p>
				<p class="emoji">😁</p>
				<p class="emoji">😂</p>
				<p class="emoji">🤣</p>
				<p class="emoji">😃</p>
				<p class="emoji">😄</p>
				<p class="emoji">😅</p>
				<p class="emoji">😆</p>
				<p class="emoji">😉</p>
				<p class="emoji">😊</p>
				<p class="emoji">😋</p>
				<p class="emoji">😎</p>
				<p class="emoji">😍</p>
				<p class="emoji">😘</p>
				<p class="emoji">🥰</p>
				<p class="emoji">😗</p>
				<p class="emoji">🙂</p>
				<p class="emoji">🤗</p>
				<p class="emoji">🤔</p>
				<p class="emoji">🤨</p>
				<p class="emoji">😐</p>
				<p class="emoji">😑</p>
				<p class="emoji">😶</p>
				<p class="emoji">🙄</p>
				<p class="emoji">😏</p>
				<p class="emoji">😥</p>
				<p class="emoji">😮</p>
				<p class="emoji">🤐</p>
				<p class="emoji">😴</p>
				<p class="emoji">😛</p>
				<p class="emoji">🙁</p>
				<p class="emoji">😭</p>
				<p class="emoji">😨</p>
				<p class="emoji">😬</p>
				<p class="emoji">😳</p>
				<p class="emoji">😡</p>
				<p class="emoji">😱</p>
				</div>
				<input @click.prevent="dispatchMessage" id="submit" type="submit" value="Submit">
			</form>
		</section>

		<section class="messages">
			<ul id="messages" v-for="message in messages">
				<!-- render a new message component for every message -->
				<newMessage :msg="message"></newMessage>
			</ul>
		</section>
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>
</html>