.new-message { 
    span { font-size: 0.8rem; display: block; margin-bottom: 2px; }

    width: 45%;
    padding: 3% 5% 4%;
    word-break: break-all;
    background-color: white; 
    border-radius: 4vw;
    margin-bottom: 1rem;
    clear: both;
    font-family: 'Lato';
    font-size: 4.5vw;
    letter-spacing: 0.1vw;
    background-color: #121212;
    color: white;
    span {
        font-size: 4.5vw;
        margin-bottom: 5%;
    }
}

.my-message {
    margin-left: auto !important;
    background-color: #2c0094;
    color: white;
}

.messages {
    margin: 0 auto;
    width: 97%;
    height: 55vh;
    overflow-y: scroll;
    padding-top: 4%;
}