@media screen and (min-width: 414px) {
    .inputForm {
        .emojiCon {
            width: 95%;
            margin: 0 auto;
            font-size: 8vw;
        }

        h2 {
            font-size: 4vw;
        }

        #submit {
            width: 34%;
            font-size: 4.5vw;
        }
    }
}

@media screen and (min-width: 768px) {
    .inputForm {
        textarea {
            height: 12.5vh;
            width: 65%;
            margin: 0 auto;
            font-size: 3vw;
        }
        h2 {
            font-size: 2.5vw;
            width: 65%;
            margin: 2% auto;
        }

        #submit {
            margin: 2% auto 3%;
            padding: 2% 0 1.5%;
            width: 24%;
            letter-spacing: 0.2vw;
            font-size: 3vw;
        }

        .typing {
            font-size: 2.6vw;
            width: 65%;
            margin: 1% auto;
        }
        .emojiCon {
            width: 65%;
            margin: -0.5% auto;
            line-height: 6.4vw;
            height: 7vh;
            font-size: 4.5vw;
        }
    }

    .new-message {
        width: 35%;
        padding: 2% 3%;
        border-radius: 2vw;
        font-size: 2.5vw;
        span {
            font-size: 2.5vw;
        }
    }

    .messages {
        height: 56.4vh;
        width: 85%;
    }
}